
<h3>Pokemon Selector</h3>
<div class="grid">
<ng-container *ngFor='let pokemon of getPokemon()'>
    <div  class='wrapper'>
     <div class="one card">
        <div class="card-content">
          <h3>{{pokemon.name}}</h3>
          <h4># {{pokemon.order}}</h4>
          <div class="img-container">
            <img src={{pokemon.characterSelectionSprite}} />
          </div>
          <h4>{{pokemon.showCaseSprite}}</h4>

          <div class="row">
              <p class='col'>{{pokemon.moveOne.name}}</p>
              <p class='col'>{{pokemon.moveTwo.name}}</p>
              <p class='col'>{{pokemon.moveThree.name}}</p>
              <p class='col'>{{pokemon.moveFour.name}}</p>
          </div>
          <div class='button-container'>
            <button class='btn btn-primary'>Select</button>
          </div>
        </div>
     </div>
    </div>
  </ng-container>
</div>
