<div class="container">
  <h3>Pokemon Selector</h3>
  <button class="btn btn-primary" (click)='cancelCharacterSelection()'>Cancel</button>
</div>

<div *ngIf="messageBoolean" class='container showcaseContainer'>
  <h2 class='showcaseName'>{{showcaseName}}</h2>
  <img src={{showcaseSprite}} class='showcaseimage'/>
  <div *ngIf="messageBoolean">
    <p class='text-primary'>{{message}}</p>
  </div>
</div>

<div class="grid">
<ng-container *ngFor='let pokemon of getPokemon()'>
    <div  class='wrapper'>
     <div class="one card">
        <div class="card-content">
          <h3>{{pokemon.name}}</h3>
          <h4># {{pokemon.order}}</h4>
          <div class="img-container">
            <img src={{pokemon.characterSelectionSprite}} />
          </div>
          <div class="row">
              <p class='col move'>{{pokemon.moveOne.name}}</p>
              <p class='col move'>{{pokemon.moveTwo.name}}</p>
              <p class='col move'>{{pokemon.moveThree.name}}</p>
              <p class='col move'>{{pokemon.moveFour.name}}</p>
          </div>
          <div class='button-container'>
            <button (click)='toggleMessage()' (click)='setPokemonShowcase(pokemon.characterSelectionSprite,
            pokemon.name)' class='btn btn-primary'>Select</button>
          </div>
        </div>
     </div>
    </div>
  </ng-container>
</div>
