<div class="container">
  <h3>Pokemon Selector</h3>
  <button class="btn btn-primary" (click)='cancelCharacterSelection()'>Cancel</button>
</div>

<div #showcase *ngIf="messageBoolean" class=' showcaseContainer'>
  <div class="card-title">
    <h2 class='showcaseName'>{{showcaseName}}</h2>
  </div>
  <div class="showcaseImageContainer">
    <img src={{showcaseSprite}} class='showcaseimage'/>
  </div>
  <div *ngIf="messageBoolean">
    <p class='text-primary'>{{message}}</p>
  </div>
</div>

<div class="grid">
<ng-container *ngFor='let pokemon of getPokemon()'>
    <div  class='wrapper'>
     <div class="shadow card">
        <div class="card-content">
          <div class="card-title">
            <h3>{{pokemon.name}}</h3>
            <h4># {{pokemon.id}}</h4>
          </div>
          <div class="img-container">
            <img src={{pokemon.characterSelectionSprite}} />
          </div>
          <div class="row">
              <p class='col move'>{{pokemon.moveOne.name}}</p>
              <p class='col move'>{{pokemon.moveTwo.name}}</p>
              <p class='col move'>{{pokemon.moveThree.name}}</p>
              <p class='col move'>{{pokemon.moveFour.name}}</p>
          </div>
          <div class='button-container'>
            <button (click)='toggleMessage()' (click)='setPokemonShowcase(pokemon.characterSelectionSprite,
            pokemon.name)' (click)='connectToSession(pokemon.id, pokemon.moveOne.name, pokemon.moveTwo.name, pokemon.moveThree.name, pokemon.moveFour.name)' class='select-btn btn btn-primary'>Select</button> <!-- (click)='connectToSession(pokemon)' -->

          </div>
        </div>
     </div>
    </div>
  </ng-container>
</div>
