<form class='form-controller' [ngStyle]='{display:getLoginDisplay()}'>
  <h2 class=' p-title text-center'>Pokemon Battle Simulator</h2>
  <div class='form-group'>
    <input class='form-control' type='text' placeholder='username' name='username' [(ngModel)]='user.username'>
    <input class='form-control' type='password' placeholder='password' name='password' [(ngModel)]='user.password'>
  </div>

  <button class='btn btn-primary' (click)='loginUser($event)'>Log In</button>
  <p class='h6 text-info' (click)='toggleExistingUser()'>Dont have an account yet? register here.</p>
</form>

<form class='form-controller' [ngStyle]='{display:getRegisterDisplay()}'>
  <h3 class='text-center'>Registration Form</h3>
  <div class='form-group'>
    <input class='form-control' type='text' placeholder="First Name" name='firstName' [(ngModel)]='user.firstName'>
    <input class='form-control' type='text' placeholder="Last Name" name='lastName' [(ngModel)]='user.lastName'>
    <input class='form-control' type='email' placeholder="Email" name='email' [(ngModel)]='user.email'>
    <input class='form-control' type='text' placeholder="Username" name='username' [(ngModel)]='user.username'>
    <input class='form-control' type='password' placeholder="Password" name='password' [(ngModel)]='user.password'>
    <input class='form-control' type='text' placeholder="Favorite Pokemon" name='favoritePokemon' [(ngModel)]='user.favoritePokemon'>
  </div>

  <button class='btn btn-primary' (click)='registerUser($event)' >Sign Up</button>
  <p class='h6 text-info' (click)='toggleExistingUser()'>Already have an account? Login here.</p>
</form>
<div class='errorMessage'>
  <h4>{{errorMessage}}</h4>
</div>
