.title{
  text-align:center;
  font-weight:bold;
  font-size:25px;
  font-weight: 800;
}
.card{
  border: solid black 2px;
  border-radius:5px;
  width:50%;
  margin-top:5%;
}
img{
  margin-bottom:2%;
}
.btn-divider{
  text-align: center;
  margin-bottom:2%;
}

