  <div class=" shadow card">
    <div class='card-title'>
      <h2 class="title">Pokemon Battle Simulator</h2>
    </div>
    <div class="image-container">
      <img src="../../../assets/menu-image.jpg" width="100%"/>
    </div>
    <div class="menu-selector">
      <div class="btn-divider">
        <button class="btn btn-primary" (click)='navigatoToCharacters()'>Play</button>
      </div>
      <div class="btn-divider">
        <button class="btn btn-primary" (click)='logout()'>Logout</button>
      </div>
    </div>
  </div>
